<div
      class="login"
    >
      <div class="signin-container">
        <h1>
          <img src="../../../assets/images/logo-saumon.png" alt="Polis" />
        </h1>
        <p class="signin-container_subtitle">
          En grec ancien πόλις <span>la cité</span>
        </p>

        <form action="">
          <div class="signin-container_names">
            <div>
              <label htmlFor="last-name">Nom</label>
              <input
                type="text"
                id="last-name"
                name="last-name"
                placeholder="Nom"
                (onClick)="handleFocus"
                (onBlur)="handleBlur"
              />
            </div>

            <div>
              <label htmlFor="first-name">Prénom</label>
              <input
                type="text"
                id="first-name"
                name="first-name"
                placeholder="Prénom"
                (onClick)={handleFocus}
                (onBlur)={handleBlur}
              />
            </div>
          </div>

          <div>
            <label htmlFor="email">Email</label>
            <input
              type="email"
              id="email"
              name="email"
              placeholder="Email"
              (onClick)={handleFocus}
              (onBlur)={handleBlur}
            />
          </div>

          <div>
            <label htmlFor="password">Mot de passe</label>
            <input
              type="password"
              id="password"
              name="password"
              placeholder="Mot de passe"
              (onClick)={handleFocus}
              (onBlur)={handleBlur}
            />
          </div>

          <div>
            <label htmlFor="password-confirm">
              Confirmer votre mot de passe
            </label>
            <input
              type="password"
              id="password-confirm"
              name="password-confirm"
              placeholder="Confirmer votre mot de passe"
              (onClick)={handleFocus}
              (onBlur)={handleBlur}
            />
          </div>

          <button type="submit">M'inscrire</button>

          <a href="#">J'ai déjà les identifiants</a>
        </form>
      </div>
    </div>
